<header class="header">
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-logo">
                <img src="images/brainstorm010.svg" alt="Brainstorm" class="logo-icon">
                <h1><a href="index.html" style="text-decoration: none; color: inherit;">Brainstorm</a></h1>
            </div>
            <div class="nav-links">
                <a href="index.html">Home</a>
                <a href="index.html#how-it-works">How It Works</a>
                <a href="index.html#get-started">Get Started</a>
                <a href="https://github.com/Pretty-Good-Freedom-Tech/brainstorm" target="_blank">GitHub</a>
                <div class="auth-section">
                    <button id="loginBtn" class="btn btn-primary" style="display: inline-block;">Login</button>
                    <div id="userProfile" class="user-profile" style="display: none;">
                        <img id="userAvatar" src="images/default-avatar.svg" alt="User Avatar" class="user-avatar">
                        <span id="userName" class="user-name">User</span>
                        <button id="logoutBtn" class="btn btn-secondary btn-small">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
